<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ docTitle }} | Aphiria</title>
        {{ head }}
    </head>
    <body class="docs language-php">
        <header>
            {{ mainNav }}
        </header>
        <main>
            {{ sideNav }}
            <article>
                {{ doc }}
                <footer>
                    <a href="https://github.com/aphiria/docs/blob/{{ docVersion }}/{{ docFilename }}.md" target="_blank" title="Edit this document"><span class="edit-icon">&#9998;</span> Edit this document</a>
                </footer>
            </article>
            <div id="gray-out"></div>
        </main>
        <footer>
            {{ footer }}
        </footer>
    </body>
</html>
