<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Forgot Password | Aphiria</title>
        {{ head }}
    </head>
    <body class="forgot-password">
        <header>
            {{ mainNav }}
        </header>
        <main>
            <form id="forgot-password-form" action="#" onsubmit="return resetPassword(event)">
                <h1>Reset Your Password</h1>
                <input id="email-input" type="text" placeholder="Email Address" autofocus>
                <br>
                <button id="reset-password-btn" type="submit">Reset Password</button>
                <br>
                <a href="login.html" title="Log in">Log in</a>
                <br>
                <div class="success-msg"></div>
                <div class="error-msg"></div>
            </form>
        </main>
        <footer>
            {{ footer }}
        </footer>
        <script>
            function resetPassword(submitEvent) {
                submitEvent.preventDefault();
                const emailElem = document.getElementById('email-input');
                const successMsgElem = document.getElementsByClassName('success-msg')[0];
                const errorMsgElem = document.getElementsByClassName('error-msg')[0];

                successMsgElem.innerText = errorMsgElem.innerText = '';

                fetch(`${apiUri}/authentication/password/reset`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify({email: emailElem.value})
                })
                .then(response => response.status === 202 || response.status === 204 ? response : response.json())
                .then(response => {
                    if (response.ok) {
                        successMsgElem.innerText = 'Email has been sent';
                    } else {
                        errorMsgElem.innerText = response.title;
                    }

                    emailElem.value = '';
                });

                return false;
            }
        </script>
    </body>
</html>
