<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aphiria - A simple, extensible REST API framework</title>
        {{ head }}
    </head>
    <body class="home">
        <header>
            {{ mainNav }}
        </header>
        <main>
            <hgroup id="site-slogan">
                <h1>A simple, extensible REST API framework for PHP</h1>
                <h2>Automatic content negotiation.  No magic.  No bleeding into your code.</h2>
            </hgroup>
            <pre><code class="language-php">// Define a controller endpoint
class UserController extends Controller
{
    public function __construct(private IUserService $users) {}

    /** @Get("/users/:id") */
    public function getById(int $id): User
    {
        return $this->users->getById($id);
    }
}

// Bind your dependency
$container->bindInstance(IUserService::class, new UserService());

// Run an integration test
$this->assertParsedBodyEquals(new User(1, 'Dave'), $this->get('/users/1'));</code></pre>
            <h1>Install Aphiria</h1>
            <pre class="center"><code class="language-bash">
composer create-project aphiria/app --prefer-dist
                </code></pre>
            <nav class="doc-short-links-nav">
                <h1>Get started</h1>
                <a class="button" href="/docs/master/installation.html" title="Learn how to install Aphiria">Installing</a>
                <a class="button" href="/docs/master/configuration.html" title="Learn how to configure your app">Configuring</a>
                <a class="button" href="/docs/master/routing.html" title="Learn about routing">Routing</a>
                <a class="button" href="/docs/master/controllers.html" title="Learn how to write controllers">Controllers</a>
                <a class="button" href="/docs/master/dependency-injection.html" title="Learn about dependency injection">DI</a>
            </nav>
        </main>
        <footer>
            {{ footer }}
        </footer>
    </body>
</html>
