<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aphiria - A simple, extensible REST API framework</title>
        {{ head }}
    </head>
    <body class="home">
        <header>
            {{ mainNav }}
        </header>
        <main>
            {{ sideNav }}
            <hgroup id="site-slogan">
                <h1>A simple, extensible REST API framework for PHP</h1>
                <h2>Automatic content negotiation.  No magic.  No bleeding into your code.</h2>
            </hgroup>
            <pre><code class="language-php">// Define a controller endpoint
class UserController extends Controller
{
    public function __construct(private IUserService $users) {}

    #[Post('/users')]
    public function createUser(User $user): IResponse
    {
        $this->users->create($user);

        return $this->created("/users/{$user->id}", $user);
    }

    #[Get('/users/:id')]
    #[AuthorizeRoles('admin')]
    public function getUserById(int $id): User
    {
        return $this->users->getById($id);
    }
}

// Bind your dependency
$container->bindInstance(IUserService::class, new UserService());

// Run an integration test
$postResponse = $this->post('/users', new User('Dave'));
$user = $this->readResponseBodyAs(User::class, $postResponse);
$admin = new PrincipalBuilder('example.com')->withRoles('admin')
    ->build();
$getResponse = $this->actingAs($admin, fn () => $this->get("/users/$user->id"));
$this->assertParsedBodyEquals($user, $getResponse);</code></pre>
            <h2>Install Aphiria</h2>
            <pre class="center"><code class="language-bash">
composer create-project aphiria/app --prefer-dist --stability dev
                </code></pre>
            <nav class="doc-short-links-nav">
                <h2>Get started</h2>
                <a class="button" href="/docs/1.x/installation.html" title="Learn how to install Aphiria">Installing</a>
                <a class="button" href="/docs/1.x/configuration.html" title="Learn how to configure your app">Configuring</a>
                <a class="button" href="/docs/1.x/routing.html" title="Learn about routing">Routing</a>
                <a class="button" href="/docs/1.x/controllers.html" title="Learn how to write controllers">Controllers</a>
                <a class="button" href="/docs/1.x/dependency-injection.html" title="Learn about dependency injection">DI</a>
                <a class="button" href="/docs/1.x/authentication.html" title="Learn about authentication">Authentication</a>
                <a class="button" href="/docs/1.x/authorization.html" title="Learn about authorization">Authorization</a>
            </nav>
            <div id="gray-out"></div>
        </main>
        <footer>
            {{ footer }}
        </footer>
    </body>
</html>
