<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login | Aphiria</title>
        {{ head }}
    </head>
    <body class="login">
        <header>
            {{ mainNav }}
        </header>
        <main>
            <form id="login-form" action="#" onsubmit="return logIn(event)">
                <h1>Admin Login</h1>
                <input id="email-input" type="text" placeholder="Email Address" autofocus>
                <br>
                <input id="password-input" type="password" placeholder="Password">
                <br>
                <button id="login-btn" type="submit">Log In</button>
                <br>
                <a href="forgot-password.html" title="Forgot your password?">Forgot your password?</a>
                <br>
                <div class="error-msg"></div>
            </form>
        </main>
        <footer>
            {{ footer }}
        </footer>
        <script>
            function logIn(submitEvent) {
                submitEvent.preventDefault();
                addLoader();
                const emailElem = document.getElementById('email-input');
                const passwordElem = document.getElementById('password-input');
                const errorMsgElem = document.getElementsByClassName('error-msg')[0];

                errorMsgElem.innerText = '';

                fetch(`${apiUri}/authentication/login`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({email: emailElem.value, password: passwordElem.value}),
                    credentials: 'include'
                })
                .then(response => {
                    if (!response.ok) {
                        removeLoader();

                        return response.json().then(body => {
                            passwordElem.value = '';
                            errorMsgElem.innerText = body.title;
                        });
                    }

                    window.location = 'posts.html';
                });

                return false;
            }
        </script>
    </body>
</html>
