<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Posts | Aphiria</title>
        {{ head }}
        <script>
            if (!isLoggedIn) {
                window.location = 'login.html';
            }
        </script>
    </head>
    <body class="posts">
        <div class="loader">
            <div class="spinner"></div>
        </div>
        <header>
            {{ mainNav }}
        </header>
        <main>
            <h1>Posts</h1>
            <table id="posts-table">
                <thead>
                    <tr><th><button id="create-post-btn">+ New Post</button></th><th>Title</th><th>Author</th></tr>
                </thead>
                <tbody></tbody>
            </table>
        </main>
        <footer>
            {{ footer }}
        </footer>
        <script>
            // TODO: Add paging
            window.addEventListener('load', loadEvent => {
                const createPostButtonElem = document.getElementById('create-post-btn');
                const postsTableElem = document.getElementById('posts-table');
                const postsTbodyElem = postsTableElem.querySelector('tbody');

                createPostButtonElem.onclick = clickEvent => {
                    window.location = 'create-post.html';
                }

                fetch(`${apiUri}/posts`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json'
                    },
                    credentials: 'include'
                })
                .then(response => {
                    removeLoader();

                    if (response.status === 401) {
                        window.location = 'login.html';

                        return;
                    }

                    return response.json().then(body => {
                        body.forEach(post => {
                            const rowElem = postsTbodyElem.insertRow(0);
                            const editLinkElem = rowElem.insertCell(0);
                            const titleElem = rowElem.insertCell(1);
                            const authorElem = rowElem.insertCell(2);

                            editLinkElem.innerHTML = `<a href="edit-post.html?postId=${post.id}" title="Edit this post">Edit</a>`;
                            titleElem.innerHTML = post.title;
                            authorElem.innerHTML = `${post.authorFirstName} ${post.authorLastName}`;
                        });
                    });
                })
            });
        </script>
    </body>
</html>
