<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reset Password | Aphiria</title>
        {{ head }}
    </head>
    <body class="reset-password">
        <header>
            {{ mainNav }}
        </header>
        <main>
            <form id="reset-password-form" action="#" onsubmit="return resetPassword(event)">
                <h1>Change Your Password</h1>
                <input id="password-input" type="password" placeholder="New Password">
                <br>
                <input id="confirm-password-input" type="password" placeholder="Confirm New Password">
                <br>
                <button id="reset-password-btn" type="submit">Reset Password</button>
                <br>
                <a href="login.html" title="Log in">Log in</a>
                <br>
                <div class="success-msg"></div>
                <div class="error-msg"></div>
            </form>
        </main>
        <footer>
            {{ footer }}
        </footer>
        <script>
            function resetPassword(submitEvent) {
                submitEvent.preventDefault();
                const emailElem = document.getElementById('email-input');
                const passwordElem = document.getElementById('password-input');
                const confirmPasswordElem = document.getElementById('confirm-password-input');
                const successMsgElem = document.getElementsByClassName('success-msg')[0];
                const errorMsgElem = document.getElementsByClassName('error-msg')[0];
                const url = new URL(window.location);
                const userId = url.searchParams.get('userId');
                const nonce = url.searchParams.get('nonce');

                successMsgElem.innerText = errorMsgElem.innerText = '';

                if (passwordElem.value !== confirmPasswordElem.value) {
                    errorMsgElem.innerText = 'Passwords do not match';
                    passwordElem.value = confirmPasswordElem.value = '';

                    return false;
                }

                fetch(`${apiUri}/authentication/users/${userId}/password`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify({newPassword: passwordElem.value, nonce: nonce})
                })
                .then(response => {
                    const body = response.status === 202 || response.status === 204 ? null : response.json();

                    if (response.ok) {
                        successMsgElem.innerText = 'Password has been reset';
                    } else {
                        errorMsgElem.innerText = body.title;
                    }

                    passwordElem.value = confirmPasswordElem.value = '';
                });

                return false;
            }
        </script>
    </body>
</html>
