<meta name="viewport" content="initial-scale=1" />
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto:ital,wght@0,300;1,300" rel="stylesheet">
        <!-- Stylesheets -->
        <link href="/css/styles.min.css" rel="stylesheet">
        <!-- Page metadata -->
        <meta name="keywords" content="{{ metadataKeywords }}">
        <meta name="description" content="{{ metadataDescription }}">
        <!-- Scripts -->
        <script src="/js/scripts.min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163496896-1"></script>
        <script>
            const apiUri = '{{ apiUri }}';
            const loggedInCookieValue = getCookie('loggedIn');
            const isLoggedIn = loggedInCookieValue !== null && parseInt(loggedInCookieValue) === 1;
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-163496896-1');
        </script>
