<meta name="viewport" content="initial-scale=1">
        <meta charset="UTF-8">
        <!-- Favicons -->
        <link rel="shortcut icon" href="/images/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto:ital,wght@0,300;1,300" rel="stylesheet">
        <!-- Stylesheets -->
        <link href="/css/styles.min.css" rel="stylesheet">
        <!-- Page metadata -->
        <meta name="keywords" content="{{ metadataKeywords }}">
        <meta name="description" content="{{ metadataDescription }}">
        <!-- Scripts -->
        <script src="/js/scripts.min.js" type="module"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163496896-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-163496896-1');
        </script>
