<nav>
    <ul class="main-nav">
        <li class="logo"><a href="/" title="Aphiria"><img class="logo" src="/images/aphiria-logo.svg" alt="Aphiria"></a>
        </li>
        <li><a href="/docs/0.x/introduction.html" title="Read the documentation">Docs</a></li>
        <li><a href="https://github.com/aphiria/aphiria" target="_blank" title="View the source code">Source</a></li>
        <li><a href="/news" title="Read the latest Aphiria news">News</a></li>
        <li id="mobile-menu"><a href="#" title="Expand menu">&equiv;</a></li>
    </ul>
    <div class="doc-search">
        <input type="text" id="search-query" placeholder="Search docs" autocomplete="off"
               spellcheck="false">
        <ul class="search-results"></ul>
    </div>
</nav>
