<nav>
                <ul>
                    <li class="logo"><a href="/" title="Aphiria"><img class="logo" src="/images/aphiria-logo.svg" alt="Aphiria"></a></li>
                    <li><a href="{{ docLink }}" title="Read the documentation">Docs</a></li>
                    <li><a href="https://github.com/aphiria/aphiria" target="_blank" title="View the source code">Source</a></li>
                </ul>
                <span class="doc-search">
                    <img class="search-icon" src="/images/search-icon.svg">
                    <input type="text" id="search-query" placeholder="Search docs" autocomplete="off" spellcheck="false" >
                    <ul class="search-results"></ul>
                </span>
            </nav>
