/.coverage/
/.git/
/.github/
/.idea/
# Note: We keep the database infrastructure directory so it can be copied to run migrations against
/infrastructure/docker
/infrastructure/kubernetes
/infrastructure/pulumi
/node_modules/
/tmp/framework/**/*.txt
/tmp/logs/errors.txt
/vendor/
