# Auto detect text files and perform LF normalization
* text eol=lf

# Ensure media are treated as binary and aren't changed to use LF
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary

# Ignore select directories on export
/.github export-ignore
CHANGELOG.md export-ignore
LICENSE.md export-ignore
README.md export-ignore
/tests export-ignore
