.env
!.env.dist
/.coverage/
/.junie/
/.idea/
/.php-cs-fixer.cache
/.phpunit.result.cache
/composer.phar
/infrastructure/kubernetes/**/secrets.yml
/infrastructure/terraform/**/.terraform/
/infrastructure/terraform/**/.terraform.lock.hcl
/infrastructure/terraform/**/errored.tfstate
/infrastructure/terraform/**/terraform.tfvars
/nbproject/
/node_modules/
/public-web/docs/
/public-web/index.html
/public-web/rev-manifest.json
/phpunit.phar
/vendor/
/yarn-error.log
