# Note: This file will be overwritten during CI/CD, and is kept solely as a reference for the shape of the real prod secret config.
apiVersion: v1
kind: Secret
metadata:
  name: redis-secrets
  namespace: default
# NOTE: default-secrets.yml and monitoring-secrets.yml's stringData must be manually kept in sync so that those two namespaces can access them
stringData:
  REDIS_HOST: "redis.monitoring.svc.cluster.local"
  REDIS_PASSWORD: "testpassword"
  redis-password: "testpassword" # A necessary duplicate of REDIS_PASSWORD for use in Bitnami's Redis Helm chart
  REDIS_PORT: "6379"
