$fullExperienceSiteWidth: 1280px;
$baseFontColor: #111;
$docSidebarWidth: 230px;
$headerHeight: 34px;
$fontSize: 16px;
$codeBackgroundColor: #f9f9f9;
$inputVerticalPadding: 0.25em;

* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', arial, sans-serif;
    font-size: $fontSize;
    line-height: 1.7;
    color: $baseFontColor;
    text-align: left;
    font-weight: 200;
    min-height: 500px;
}

body {
    padding: 0 5%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;

    &.site-slogan {
        text-align: center;
    }
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

a {
    &, &:link, &:active, &:visited {
        color: #07c;
        text-decoration: none;
        transition: all .3s ease;
    }

    &:hover {
        color: #111;
    }
}

body > header {
    border-bottom: 1px solid #ddd;

    & > nav {
        text-align: left;

        & > ul {
            /* We want to be able to show the doc search next to the list */
            display: inline-block;

            li {
                display: inline-block;
                font-size: 1.9em;

                &:not(:last-child) {
                    padding-right: 30px;
                }

                img.logo {
                    height: 60px;
                    vertical-align: bottom;
                }
            }
        }

        span.doc-search {
            display: inline-block;
            position: relative;

            img.search-icon {
                height: 20px;
                position: absolute;
                left: 0;
                /* Get this to line up with the text in the input */
                top: $inputVerticalPadding;
                bottom: 0;
            }

            input {
                width: 100%;
                padding-left: 25px;
            }

            ul.search-results {
                list-style: inside none;
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                border-width: 0 1px 1px 1px;
                border-style: solid;
                border-color: #ccc;
                background: #fff;
                z-index: 1;
                padding: 0;

                li {
                    font-size: $fontSize;
                    width: 100%;
                    padding: 0;

                    a:hover {
                        background: #eef7ff;
                    }

                    h1, h2, h3, h4, h5, h6 {
                        margin: 0;
                    }

                    .search-result-context {
                        border-bottom: 1px solid #ccc;

                        h1, h2, h3, h4, h5, h6 {
                            font-size: 1em;
                            display: inline;
                            margin: 0;
                        }
                    }

                    a, &.no-results {
                        /* Make the results take up the entire list item */
                        display: block;
                        padding: 10px 5px;
                        color: $baseFontColor;
                    }

                    em {
                        background-color: #def;
                    }

                    &:not(:last-of-type) {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
        }
    }
}

img {
    border: none;
}

ul, ol {
    padding: 10px 1em;
    margin: 0;

    ul, ol {
        padding: 0 0 0 25px;
    }

    & > li:not(:last-child) {
        padding-bottom: 2px;
    }
}

ul {
    list-style: inside disc;
}

ol {
    list-style-position: inside;
}

input{
    &[type=text] {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #bbb;
        transition: border-color .3s ease;
        font-size: 1em;
        box-shadow: none;
        outline: none;
        padding: $inputVerticalPadding 0;

        &:focus {
            border-bottom-color: #555;
        }
    }
}

body > footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(.25turn, #fff 0%, #f7f7f7 10%, #f7f7f7 90%, #fff 100%);
    border-top: 1px solid #ddd;

    & > nav > ul li {
        display: inline-block;
    }
}

body > main {
    padding: 0 10px;
    position: relative;

    nav.sidebar {
        padding-top: 10px;
        overflow-y: auto;

        section {
            &:not(:last-child) {
                margin-bottom: 25px;
            }

            h5 {
                margin: 0 0 15px 0;
            }
        }

        ul {
            padding-top: 0;
            padding-bottom: 0;
            list-style: inside none;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

body.docs > main article {
    h2, h3, h4, h5 {
        padding-top: $headerHeight;
        margin-top: -1*$headerHeight + 20;
        margin-bottom: 0;
        color: #555;
    }

    h2:first-of-type {
        /* For the first header in the docs, we want it to appear as high up as possible */
        margin-top: -1*$headerHeight;
    }

    footer {
        margin-top: 30px;

        a {
            font-size: .9em;
        }
    }
}

h2#coming-soon {
    color: #aaa;
}

pre[class*="language-"] {
    padding: 10px !important;
    background: $codeBackgroundColor !important;
    border: 1px solid #e9e9e9 !important;
    position: relative !important;
    overflow: auto !important;
    font-size: 0.8rem !important;
}

code {
    font-family: "Source Code Pro", monospace !important;
}

p code, li code {
    $verticalPadding: 2px;
    background: $codeBackgroundColor;
    padding: $verticalPadding 5px;
    font-size: $fontSize - 2*$verticalPadding + 1px;
    white-space: nowrap;
    border: 1px solid #d9d9d9;
}

blockquote {
    background: #eef9ff;
    border: 1px solid #ccd9dd;
    padding: 10px;
    margin: 10px 30px;
}

.token {
    &.variable {
        color: #333 !important;
    }

    &.keyword {
        color: #07a !important;
    }

    &.function {
        color: #f70 !important;
    }

    &.string {
        color: #6a0 !important;
    }

    &.class-name {
        color: #e22 !important;
    }

    &.operator {
        background: none !important;
    }
}


@media screen and (min-device-width: $fullExperienceSiteWidth) {
    body.home > main pre {
        width: 700px;
        margin: 0 auto;
    }

    #sidebar-main-nav {
        display: none;
    }

    /* Don't display the sidebar on non-doc pages */
    body:not(.docs) nav.sidebar {
        display: none;
    }

    body > header nav span.doc-search {
        width: 700px;
    }

    body.docs > main article {
        margin: 0 0 0 $docSidebarWidth;
        padding: 10px 0 10px 20px;
        width: 750px;
    }

    body > main {
        nav.sidebar {
            position: absolute;
            top: 0;
            bottom: 0;
            padding: 20px 10px 10px 0;
            float: left;
            width: $docSidebarWidth;
            border-right: 1px solid #ddd;
        }
    }
}

@media screen and (min-device-height: 650px) {
    main {
        min-height: 300px;
    }
}
