$fullExperienceSiteWidth: 1024px;
$baseFontColor: #000;
$docSidebarWidth: 240px;
$fontSize: 16px;
$codeBackgroundColor: #f9f9f9;
$inputVerticalPadding: 0.25em;
$footerBackgroundColor: #f7f7f7;
$pageSideMargin: 5%;
$lineHeight: 1.8;

* {
    box-sizing: border-box;
}

html {
    font-family: roboto, arial, sans-serif;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $baseFontColor;
    text-align: left;
    font-weight: 300;
    min-height: 500px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 1.65em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.85em;
}

a {
    &, &:link, &:active, &:visited {
        color: #07c;
        text-decoration: none;
        transition: color .3s ease;
    }

    &:hover {
        color: $baseFontColor;
    }
}

a.button {
    &, &:link, &:active, &:visited {
        color: #fff;
        background: #07c;
        padding: 10px 20px;
        display: inline-block;
        font-weight: bolder;
        /* Try to make the button widths consistent */
        min-width: 140px;
        text-align: center;
        transition: color .3s ease, background-color .3s ease;
    }

    &:hover {
        background: #06b;
    }
}

img {
    border: none;
}

ul, ol {
    padding: 10px 1em;
    margin: 0;

    ul, ol {
        padding: 0 0 0 25px;
    }

    & > li:not(:last-child) {
        padding-bottom: 2px;
    }
}

ul {
    list-style: inside disc;
}

ol {
    list-style-position: inside;
}

input {
    &[type=text] {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #bbb;
        transition: border-color .3s ease;
        font-size: 1em;
        box-shadow: none;
        outline: none;
        padding: $inputVerticalPadding 0;

        &:focus {
            border-bottom-color: #555;
        }
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    td, th {
        border: 1px solid #ccc;
        padding: 10px;
        font-size: .9em;
    }

    tr:nth-child(even) td {
        background-color: #f7f7f7;
    }
}

body > header {
    margin: 0 $pageSideMargin;
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;

    & > nav {
        position: relative;
        text-align: left;

        & > ul.main-nav {
            /* We want to be able to show the doc search next to the list */
            display: inline-block;

            li {
                display: inline-block;
                font-size: 1.9em;
                padding-bottom: 0;

                img.logo {
                    vertical-align: text-bottom;
                }
            }
        }

        div.doc-search {
            img.search-icon {
                height: 20px;
                position: absolute;
                left: 0;
                /* Get this to line up with the text in the input */
                top: $inputVerticalPadding;
                bottom: 0;
            }

            input#search-query {
                width: 100%;
                padding-left: 25px;
                background: url("/images/search-icon.svg") no-repeat 0 25%;
                background-size: 20px 20px;
            }

            ul.search-results {
                list-style: inside none;
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                overflow: auto;
                max-height: 500px;
                border-width: 0 1px 1px 1px;
                border-style: solid;
                border-color: #ccc;
                border-radius: 0 0 5px 5px;
                background: #fff;
                z-index: 1;
                padding: 0;
                box-shadow: 2px 2px 5px #ddd;

                li {
                    font-size: 0.9rem;
                    width: 100%;
                    padding: 0;

                    &.selected a, a:hover {
                        background: #eef7ff;

                        p, blockquote {
                            /* Make the element less washed out looking when mousing over */
                            background-color: #e3f3ff;
                        }
                    }

                    h1, h2, h3, h4, h5, h6 {
                        margin: 0;
                    }

                    h1.search-result-text {
                        font-size: 1.6rem;
                    }

                    h2.search-result-text {
                        font-size: 1.5rem;
                    }

                    h3.search-result-text {
                        font-size: 1.4rem;
                    }

                    h4.search-result-text {
                        font-size: 1.3rem;
                    }

                    h5.search-result-text {
                        font-size: 1.2rem;
                    }

                    p, blockquote {
                        background-color: #f7f7f7;
                        margin: 10px;
                        padding: 10px;
                    }

                    .search-result-context {
                        border-bottom: 1px solid #ccc;

                        h1, h2, h3, h4, h5, h6 {
                            font-size: 1em;
                            display: inline;
                            margin: 0;
                        }
                    }

                    a, &.no-results {
                        /* Make the results take up the entire list item */
                        display: block;
                        padding: 10px;
                        color: $baseFontColor;
                    }

                    em {
                        font-weight: 600;
                        font-style: normal;
                    }

                    &:not(:last-of-type) {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
        }
    }
}

body > footer {
    text-align: center;
    /* Using vertical padding allows us to vertically center the footer text */
    padding: 30px 20px;
    margin: 0 $pageSideMargin;
    background: linear-gradient(.25turn, #fff 0%, $footerBackgroundColor 10%, $footerBackgroundColor 90%, #fff 100%);
    border-top: 1px solid #ddd;
    color: #555;

    & > nav > ul li {
        display: inline-block;
    }
}

body > main {
    margin: 0 $pageSideMargin;
    position: relative;
    padding-bottom: 20px;

    nav.doc-nav {
        padding-top: 10px;
        overflow-y: auto;

        section {
            &:not(:last-child) {
                margin-bottom: 25px;
            }

            h5 {
                margin: 0 0 15px 0;
            }
        }

        ul {
            padding-top: 0;
            padding-bottom: 0;
            list-style: inside none;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

body:not(.docs) > header {
    /* We only want the mobile menu on the doc pages */
    ul li#mobile-menu {
        display: none;
    }
}

body.docs > main article {
    h2, h3, h4, h5 {
        margin-bottom: 20px;
        color: #555;
    }

    /* Make it clear what links leave the site */
    a[target="_blank"]::after {
        content: " [\2197]";
        font-size: 0.65em;
        vertical-align: super;
    }

    footer {
        margin-top: 30px;

        a {
            font-size: .9em;
        }

        .edit-icon {
            /* Necessary so we can transform the icon */
            display: inline-block;
            /* Set the edit icon to point to the lower left */
            transform: rotateY(180deg);
        }
    }
}

pre[class*="language-"] {
    padding: 10px !important;
    background: $codeBackgroundColor !important;
    border: 1px solid #e9e9e9 !important;
    position: relative !important;
    overflow: auto !important;
    font-size: 0.85rem !important;
    line-height: 1.9 !important;
    text-shadow: none !important;
}

code {
    font-family: "Roboto Mono", "Consolas", monospace !important;
    font-size: 0.98em !important;

    &[class*=language-] {
        text-shadow: none !important;
    }
}

p code, li code {
    $verticalPadding: 2px;
    background: $codeBackgroundColor !important;
    padding: $verticalPadding 5px !important;
    font-size: $fontSize - 2*$verticalPadding + 1px !important;
    white-space: nowrap !important;
    border: 1px solid #d9d9d9 !important;
}

body.home > main {
    h1, h2, pre.center, nav {
        text-align: center;
    }
}

hgroup#site-slogan h2 {
    font-size: 1.2em;
}

nav.doc-short-links-nav {
    margin-top: 30px;

    /* Add spacing between the buttons */
    a.button {
        margin: 5px;
    }
}

blockquote {
    background: #e7f7ff;
    border: 1px solid #ccd9dd;
    padding: 20px;
    margin: 10px 30px;

    p {
        margin: 0 !important;
    }
}

.token {
    &.variable {
        color: rgb(0, 119, 187) !important;
    }

    &.property {
        color: rgb(0, 92, 197) !important;
    }

    &.keyword {
        color: rgb(0, 124, 229) !important;
    }

    &.function {
        color: rgb(230, 58, 60) !important;
    }

    &.string {
        color: #6a0 !important;
    }

    &.class-name {
        color: #333 !important;
    }

    &.operator {
        color: rgb(0, 92, 197) !important;
        background: none !important;
    }

    &.boolean, &.constant {
        color: rgb(107, 159, 191) !important;
    }
}

/* Mobile experience site settings */
@media screen and (max-width: $fullExperienceSiteWidth - 1px) {
    $headerLogoHeight: 30px;
    $searchBarHeight: 20px;
    $headerHeight: $headerLogoHeight + $searchBarHeight + 40px;

    body > header, body > main, body > footer {
        /* Take the parts to the edge of the screen to not waste space */
        margin-left: 0;
        margin-right: 0;
    }

    body.nav-open {
        nav.doc-nav {
            transform: translate3d(-100%, 0, 0);
            transition: transform .3s;
        }

        #gray-out {
            visibility: visible;
            background: rgba(0, 0, 0, .5);
            transition: background .3s ease;
        }
    }

    body > main {
        /* Account for both the main nav padding and search bar padding, and then pad a little extra so we're not right up against the search bar */
        padding: $headerHeight + 10px 10px 10px 10px;

        nav.doc-nav {
            position: fixed;
            border-left: 1px solid #f1f1f1;
            left: 100%;
            /* We want this to appear just below the main nav.  The additional 20px is the padding in the nav bar. */
            top: $headerLogoHeight + 20px;
            bottom: 0;
            min-width: 25%;
            padding-left: 10px;
            padding-bottom: 10px;
            background: #f1f1f1;
            z-index: 5;
            transition: transform .3s;

            li {
                white-space: nowrap;
            }
        }
    }

    body > header > nav {
        ul.main-nav {
            display: block;
        }

        ul.main-nav {
            /* Keep the mobile menu in line with the other menu items */
            position: relative;

            li {
                /* Make the links less huge */
                font-size: 1.4em;

                &:nth-child(1), &:nth-child(2), &:nth-child(1), &:nth-child(3) {
                    /* The selector would need to be reworked if we add more links.  We don't care about padding against the mobile menu item. */
                    padding-right: 0.7em;
                }

                img.logo {
                    height: $headerLogoHeight;
                }
            }
        }

        div.doc-search {
            /* Render the search bar on its own line */
            display: block;
            /* Give the results a relative parent for positioning */
            position: relative;
            margin: 10px 20px 0;
        }
    }

    body.docs {
        & > header {
            ul li#mobile-menu {
                display: inline-block;
                position: absolute;
                right: 10px;
                top: -5px;
                font-size: 3em;
                line-height: normal;
            }
        }

        & > main article {
            h1, h2, h3, h4, h5 {
                /* Make sure that tapping a link to a doc section makes the header visible from underneath the main nav */
                padding-top: $headerHeight+10px;
                margin-top: -1*$headerHeight;
                margin-bottom: 0;
            }
        }
    }

    body > footer {
        /* Gradient looks strange on small screens */
        background: $footerBackgroundColor;
    }

    #gray-out {
        /*display: none;*/
        visibility: hidden;
        background: rgba(0, 0, 0, 0);
        position: fixed;
        /* We want this to appear just below the main nav.  The additional 20px is the padding in the nav bar. */
        top: $headerLogoHeight + 20px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}

/* Full experience site settings */
@media screen and (min-width: $fullExperienceSiteWidth) {
    $headerLogoHeight: 40px;
    $headerHeight: $headerLogoHeight + 20px;
    $pageBorderColor: #ddd;

    * {
        &::-webkit-scrollbar {
            background-color: #fff;
            width: 16px;
        }

        /* The background of the scrollbar except button or resizer */
        &::-webkit-scrollbar-track {
            background-color: #fff;
        }

        /* The scrollbar itself */
        &::-webkit-scrollbar-thumb {
            background-color: #babac0;
            border-radius: 16px;
            border: 4px solid #fff;

            &:hover {
                background-color: #aaaab0;
            }
        }

        /* Remove scrollbar buttons */
        &::-webkit-scrollbar-button {
            display:none
        }
    }

    p, blockquote, pre[class*="language-"], table {
        margin-bottom: 2em !important;
    }

    /*
    Make sure there's not too much of a gap between paragraphs and lists.  Since there's no easy way of
    selecting the paragraph with a CSS combinator, we select the list and give it a negative margin equal
    to the bottom margin of the paragraph.
    */
    p + ul, p + ol {
        margin-top: -1em !important;
    }

    body.home > main pre {
        width: 700px;
        margin: 0 auto;
    }

    #sidebar-main-nav {
        display: none;
    }

    /* Don't display the sidebar on non-doc pages */
    body:not(.docs) nav.doc-nav {
        display: none;
    }

    body > header {
        border-bottom: 1px solid $pageBorderColor;
        height: $headerHeight;

        nav {
            ul.main-nav {
                li {
                    /* The text is pretty large on large screens, so reduce the weight */
                    font-weight: 200;

                    &:nth-child(1), &:nth-child(2), , &:nth-child(3) {
                        /* The selector would need to be reworked if we add more links.  We don't care about padding against the mobile menu item. */
                        padding-right: 1em;
                    }

                    &#mobile-menu {
                        display: none;
                    }

                    img.logo {
                        height: $headerLogoHeight;
                    }
                }
            }

            div.doc-search {
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 20px;
                width: 40%;
            }
        }
    }

    body > main {
        padding-top: $headerHeight;

        article {
            margin: 0 0 0 $docSidebarWidth;
            padding: 20px 30px 0 30px;
            /* Fill up the remaining space */
            width: calc(100% - #{2*$docSidebarWidth});

            h1, h2, h3, h4, h5 {
                /* Make sure that tapping a link to a doc section makes the header visible from underneath the main nav */
                padding-top: $headerHeight;
                margin-top: -1*$headerHeight;
            }

            /*
            Make sure there's not too much of a gap between paragraphs/headers and lists.  Since there's no easy way of
            selecting the paragraph/header with a CSS combinator, we select the list and give it a negative margin equal
            to the bottom margin of the paragraph/header.
            */
            p + ul, p + ol, h3 + ul, h3 + ol, h4 + ul, h4 + ol, h5 + ul, h5 + ol, h6 + ul, h6 + ol {
                margin-top: -1em !important;
            }

            nav.toc-nav {
                position: absolute;
                right: 0;
                width: $docSidebarWidth;
                padding: 0 0 10px 20px;
                top: $headerHeight;
                bottom: 0;
                overflow-y: auto;
                border-left: 1px solid $pageBorderColor; /* Need to make sure we're reusing the same border color as elsewhere */
                font-size: 0.9rem;

                h2, h3, h4, h5 {
                    margin-bottom: 0;
                }

                ol, ul {
                    list-style: none;
                }

                .toc-nav-contents {
                    position: fixed;
                    top: $headerHeight;
                    padding-top: 20px;
                    overflow-y: auto;
                    bottom: 0;
                    /* Subtract the border and left-padding that's applied to the parent element */
                    width: $docSidebarWidth - 1px - 20px;

                    a.selected {
                        font-weight: bold;
                    }

                    & > ol, & > ul {
                        /* We don't want to indent the first items */
                        padding: 10px 0;
                    }
                }
            }
        }

        nav.doc-nav {
            position: fixed;
            top: $headerHeight;
            bottom: 0;
            overflow-y: auto;
            padding: 20px 10px 10px 0;
            float: left;
            width: $docSidebarWidth;
            border-right: 1px solid $pageBorderColor;

            a.selected {
                font-weight: bold;
            }
        }
    }

    #gray-out {
        display: none;
    }
}

@media screen and (min-height: 650px) {
    main {
        min-height: 300px;
    }
}

@media screen and (max-height: 600px) {
    /* Make the search results a little smaller so they don't overflow the bottom */
    body > header > nav div.doc-search ul.search-results {
        max-height: 400px;
    }
}
