<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ docTitle }} | Aphiria - NEW</title>
        {{ head }}
        <style>
            .context-framework, .context-library {
                display: none;
            }
        </style>
        <script type="module">
            import config from '/js/config/config.js';

            function getQueryParam(name) {
                return new URLSearchParams(window.location.search).get(name);
            }

            function setCookie(name, value, days) {
                const date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                document.cookie = `${name}=${value};expires=${date.toUTCString()};path=/;domain=${config.cookieDomain};Secure;SameSite=Lax`;
            }

            function getCookie(name) {
                const cookies = document.cookie.split(';');

                for (const cookie of cookies) {
                    const [key, value] = cookie.trim().split('=');
                    if (key === name) return value;
                }

                return null;
            }

            function toggleContext(view) {
                const frameworkDivs = document.querySelectorAll('.context-framework');
                const libraryDivs = document.querySelectorAll('.context-library');

                if (view === 'framework') {
                    frameworkDivs.forEach(div => div.style.display = 'revert');
                    libraryDivs.forEach(div => div.style.display = 'none');
                } else if (view === 'library') {
                    frameworkDivs.forEach(div => div.style.display = 'none');
                    libraryDivs.forEach(div => div.style.display = 'revert');
                }

                // Changing visibility of elements requires re-sticking the side nav as it may have changed its height
                document.dispatchEvent(new CustomEvent('context-toggled'));
            }

            function saveContext(context) {
                setCookie('context', context, 365);
                toggleContext(context);
                // Update the URL to contain the context without reloading the page
                const url = new URL(window.location);
                url.searchParams.set('context', context);
                window.history.pushState({}, '', url);
            }

            document.addEventListener('DOMContentLoaded', () => {
                const contextSelector = document.getElementById('context-selector');
                // Query string takes precedence in the case that a URL with it was opened
                const savedContext = getQueryParam('context') || getCookie('context') || 'framework';
                contextSelector.value = savedContext;
                saveContext(savedContext);

                // Add event listener to update the view and cookie on selection
                contextSelector.addEventListener('change', (event) => {
                    saveContext(event.target.value);
                });
            });
        </script>
    </head>
    <body class="docs language-php loading">
        <header>
            {{ mainNav }}
        </header>
        <main>
            {{ sideNav }}
            <article>
                <div id="article-loading"></div>
                {{ doc }}
                <footer>
                    <a href="https://github.com/aphiria/docs/blob/{{ docVersion }}/{{ docFilename }}.md" target="_blank" title="Edit this document"><span class="edit-icon">&#9998;</span> Edit this document</a>
                </footer>
            </article>
            <div id="gray-out"></div>
        </main>
        <footer>
            {{ footer }}
        </footer>
    </body>
</html>
