# Note: This file will be overwritten during CI/CD, and is kept solely as a reference for the shape of the real prod secret config.
apiVersion: v1
kind: Secret
metadata:
  name: monitoring-secrets
  namespace: monitoring
stringData:
  DEFAULT_GRAFANA_ADMIN_PASSWORD: "<Default Grafana admin password>"
  GITHUB_OAUTH_CLIENT_ID: "<GitHub OAuth client ID>"
  GITHUB_OAUTH_CLIENT_SECRET: "<GitHub OAuth client secret>"
  GITHUB_OAUTH_ORGANIZATION: "<GitHub OAuth organization>"
  REDIS_HOST: "redis-master.redis.svc.cluster.local"
  REDIS_PASSWORD: "testpassword"
  redis-password: "testpassword" # A necessary duplicate of REDIS_PASSWORD for use in Bitnami's Redis Helm chart
  REDIS_PORT: "6379"
  SMTP_HOST: "<SMTP host>"
  SMTP_USER: "<SMTP user>"
  SMTP_PASSWORD: "<SMTP password>"
  SMTP_FROM_ADDRESS: "<SMTP from address>"
  SMTP_FROM_NAME: "<SMTP from name>"
  SMTP_TO_ADDRESS: "dave@aphiria.com"
