# Note: This file will be overwritten during CI/CD, and is kept solely as a reference for the shape of the real prod secret config.
apiVersion: v1
kind: Secret
metadata:
  name: digitalocean-secrets
  namespace: cert-manager
stringData:
  DIGITALOCEAN_ACCESS_TOKEN: "<DigitalOcean API access token>"
