name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - php: "8.4"
          - php: "8.5"
    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: public
          # This is a temporary database used just for CI
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
    # Need to make sure we're using the right environment variables when compiling the views
    env:
      APP_WEB_URL: https://www.aphiria.com
      APP_API_URL: https://api.aphiria.com
      DB_HOST: localhost
      DB_PASSWORD: password
    name: Test PHP ${{ matrix.php }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: apcu, curl, dom, libxml, mbstring, pcntl, pgsql, xdebug, zip
          tools: composer:v2
          coverage: xdebug
          ini-values: apc.enable_cli=1
      - name: Install dependencies
        run: |
          chmod +x ./install.sh
          ./install.sh --install-pulumi
          cd ./apps/api
          composer install --ignore-platform-reqs
          composer dump-autoload -o
          chmod -R 755 resources
          chmod -R 755 tmp
          cd ../web
          yarn install
          yarn global add gulp
          gulp build
      - name: Index documentation
        working-directory: apps/api
        run: |
          vendor/bin/phinx migrate
          vendor/bin/phinx seed:run
      - name: Lint PHP code
        working-directory: apps/api
        run: composer phpcs-test
      - name: Run PHP tests
        working-directory: apps/api
        run: composer phpunit
      - name: Run PHP static analysis
        if: matrix.php == '8.4'
        working-directory: apps/api
        run: composer psalm -- --shepherd
      - name: Install root TypeScript dependencies
        if: matrix.php == '8.4'
        run: npm install
      - name: Lint TypeScript code
        if: matrix.php == '8.4'
        run: npm run lint
      - name: Format check TypeScript code
        if: matrix.php == '8.4'
        run: npm run format:check
      - name: Build infrastructure TypeScript code
        if: matrix.php == '8.4'
        working-directory: infrastructure/pulumi
        run: |
          npm install
          npm run build
      - name: Test infrastructure TypeScript code
        if: matrix.php == '8.4'
        working-directory: infrastructure/pulumi
        run: npm run test:ci
      - name: Upload coverage results to Coveralls
        working-directory: apps/api
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer global require php-coveralls/php-coveralls
          php-coveralls --coverage_clover=./.coverage/clover.xml --json_path=./coveralls-upload.json -v
