name: Test
on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 0 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - php: '8.4'
          - php: '8.5'
    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: public
          # This is a temporary database used just for CI
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
    # Need to make sure we're using the right environment variables when compiling the views
    env:
      APP_WEB_URL: https://www.aphiria.com
      APP_API_URL: https://api.aphiria.com
      DB_HOST: localhost
      DB_PASSWORD: password
    name: Test PHP ${{ matrix.php }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, dom, libxml, mbstring, pcntl, pgsql, xdebug, zip
          tools: composer:v2
          coverage: xdebug
      - name: Install dependencies
        run: |
          chmod +x ./install.sh
          ./install.sh --install-pulumi
          composer install --ignore-platform-reqs
          composer dump-autoload -o
          chmod -R 755 resources
          chmod -R 755 tmp
          yarn install
          yarn global add gulp
          gulp build
      - name: Index documentation
        run: |
          vendor/bin/phinx migrate
          vendor/bin/phinx seed:run
      - name: Run tests
        run: composer phpunit
      - name: Lint code
        run: composer phpcs-test
      - name: Run static analysis
        if: matrix.php == '8.4'
        run: composer psalm -- --shepherd
      - name: Build Pulumi project
        if: matrix.php == '8.4'
        run: |
          cd infrastructure/pulumi
          npm install
          npm run build
      - name: Upload coverage results to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer global require php-coveralls/php-coveralls
          php-coveralls --coverage_clover=./.coverage/clover.xml --json_path=./coveralls-upload.json -v
